body {
	background: #000000;
}

.imgBackground {
	height: 600px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.7;
	margin-top: 4%;
}

.headerImg {
	float: none !important;
	text-align: center;
}

.call {
	float: right !important;
	margin-left: -11.2%;
	margin-top: 70px;
	margin-right: 5%;
	font-size: 22px;
}

.header1 {
	background-color: #ffd451 !important;
	-webkit-box-shadow: 6px 9px 31px 3px rgba(0,0,0,0.41)!important;
    -moz-box-shadow: 6px 9px 31px 3px rgba(0,0,0,0.41)!important;
    box-shadow: 6px 9px 31px 3px rgba(0,0,0,0.41)!important;
    margin-bottom: 0px !important;
    border:none !important;
    background-image: none !important;
}